.app-home {
  padding: 10px;
  text-align-last: center;
}

button {
  background: #5851ff;
  color: white;
  margin: 8px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  outline: 0;
  letter-spacing: .04em;
  transition: all .15s ease;
  cursor: pointer;
}
  
button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.1);
  transform: translateY(1px);
}


.routeName{
height: 32px;
border-radius: 5px;
border: none;
box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: chocolate;
outline: 0;
transition: all .15s ease;
cursor: pointer;
text-align: center;

}
.routeName:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.1);
  transform: translateY(1px);
}
.center{
  text-align: center;
}

.padBottom{
  padding:15px;
}
